/* FONTES */
@font-face {
  font-family: "Raleway Bold";
  src: url("../fonts/Raleway-Bold.ttf");
}
@font-face {
  font-family: "Raleway Medium";
  src: url("../fonts/Raleway-Medium.ttf");
}
@font-face {
  font-family: "Raleway Regular";
  src: url("../fonts/Raleway-Regular.ttf");
}
@font-face {
  font-family: "Raleway Thin";
  src: url("../fonts/Raleway-Thin.ttf");
}

/* FORMATAÇÃO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  color: #1d324a;
  text-rendering: optimizeLegibility;
  height: 100vh;
  scroll-behavior: smooth;
}


/* SCROLL BAR */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #e4e4e4;
}

::-webkit-scrollbar-thumb {
  background: #6F4A9F;
  border-radius: 5px;

}

::-webkit-scrollbar-thumb:hover {
  background: #7b7bd4;
} 


/* LOGO ANIMATION / LOGO IMG */
.logo-anim {
  text-decoration: none;
}

.logo-anim:hover {
  transform: scale(1.1);
  transition: all 0.5s;
}

#logo {
  margin-top: -5px;
  margin-right: 5px;
  width: 280px;
  transition: 0.6s;
  position: relative;
}


/* HEADER E NAVBAR */
header{
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  background-image: url("../images/bg-galaxy.svg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 101vh;
  overflow: hidden;
}

header.bg{
  background-color: white;
}

#navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

#navbar-list{
  display: flex;
  list-style: none;
  gap: 2.5rem;
  margin-top: 10px;
}

.nav-item {
  font-family: "Raleway Bold", sans-serif;
  color: #fafad2;
  font-size: 25px;
  text-decoration: none;
  letter-spacing: 1px;
}

.nav-item:hover {
  color: #6f4a9f;
}

.nav-ativo{
  background: rgba(255, 255, 255, 0.85);
  box-shadow: 0 8px 32px 0 rgb(31 38 135 / 37%);
  backdrop-filter: blur(13px);
  border: 1px solid rgba(255, 255, 255, 0.18);
}



/* header content */
.header-content{
  display: flex;
  justify-content: space-around;
}

.main-content {
  font-family: "Raleway Bold", Arial;
  display: flex;
  align-items: center;
  width: 100%;
  margin: 300px 0 0 215px;
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 32px;
  width: 41%;
  color: #fafad2;
}

#heading {
  font-size: 50px;
}

#highlight-purple {
  color: #6f4a9f;
}

.contato-button {
  font-family: 'Raleway Bold';
  border-radius: 12px;
  width: 246px;
  height: 73px;
  background: #6f4a9f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: #fafad2;
  font-size: 24px;
  border: none;
}

.sub-heading {
  font-size: 28px;
  color: #1d324a;
}


/* SOBRE NOS */
.section-sobre {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway Bold", Arial;
  padding-top: 8.5rem;
}

#titulo-section{
  font-size: 40px;
}

#highlight-cyan {
  color: #1189a1;
}

.line {
  width: 247px;
  height: 8px;
  margin-top: 8px;
  background: #6f4a9f;
  border-radius: 10px;
}

.text-sobre {
  margin-top: 50px;
  text-align: center;
  margin-left: 300px;
  margin-right: 300px;
  font-size: 30px;
}

.identity-orion{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
  justify-content: center;
  gap: 50px;
  font-family: 'Raleway Bold';
}

.id-orion{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 360px;
  height: 510px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e4e4e4;
  background: linear-gradient(59.61deg, #EDEEF6 3.53%, rgba(217, 217, 217, 0) 98.56%);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
  /* transform: translateY(-0.25em); */
  transition: 0.5s;
}

.id-img{
  width: 220px;
}

#id-img{
  width: 255px;
}

.id-title{
  font-size: 30px;
  margin-top: 20px;
}

.id-text{
  font-size: 22px;
  text-align: center;
  margin: 20px 40px 0px 40px;
}


/* nossos serviços */
.section-servicos{

  padding-top: 8rem;
  width: 100%;
  
}

.container-servicos { 
   background-image: url("../images/bg-servicos.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway Bold", Arial;
  height: 108vh;
  padding-bottom: 232px;
}

.aplic-class{
  display: flex;
  flex-direction: row;
  gap: 120px;
  margin-top: 70px;
}

.web-img{
  display: flex;
  flex-direction: column;
  margin-right: 40px;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.mobile-img{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-aplic{
  font-size: 30px;
}


/* nossa equipe */
.section-equipe{
  padding-top: 1rem;
}

.container-equipe{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway Bold", Arial;
  margin-top: 8rem;
}

.equipe{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-shrink: 1;
  margin-top: 40px;
  justify-content: center;
  gap: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.integrantes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 275px;
  height: 365px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e4e4e4;
  background: linear-gradient(59.61deg, #EDEEF6 3.53%, rgba(217, 217, 217, 0) 98.56%);
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 60px;  
}

.int-name{
  font-size: 25px;
  margin-top: 22px;
}

#int-img{
  width: 160px;
}

.int-function{
  color: #787979;
  text-align: center;
  margin: 12px 20px 0 20px;
}

.social-icons{
  display: flex;
  flex-direction: row;
  gap: 20px;
  color: #6f4a9f;
  margin-top: 30px;
}

#social-link{
  color: #6f4a9f;
  text-decoration: none;
}

#social-link:hover{
  color: #1189A1;
}


/* nossos projetos */
.section-projetos{
  padding-top: 8.5rem;
}

#headingBlue{
  color: #1189A1;
  font-size: 50px;
}

.cadastro-button{
  font-family: 'Raleway Bold', 'Arial';
  margin-top: 30px;
  margin-left: 6px;
  border-radius: 12px;
  width: 246px;
  height: 73px;
  background: #6f4a9f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: #fafad2;
  font-size: 24px;
  border: none;
}

#prototipo-img{
  width: 850px;
  margin-left: 4rem;
}

#projeto-topics{
  color: black;
  font-size: 25px;
  margin-left: 20px;
}

.container-projetos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway Bold", Arial;
}

.projeto-class{
  display: flex;
  flex-direction: row;
  width: 1500px;
  height: 780px;
  margin-top: 40px;
  border-style: solid;
  border-width: 0.5px;
  border-color: #e4e4e4;
  background-color: #EDEEF6;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.25);
  border-radius: 60px; 
}

.projeto-text{
  margin-top: 80px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 36%;
}

.prototipo-class{
  margin-top: 40px;
}


/* nossas parcerias */
.container-parcerias{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-family: "Raleway Bold", Arial;
  margin-top: 12rem;
}

.parcerias{
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-top: 5rem;
  gap: 5rem;
}

#parceria-img{
  width: 480px;
}


/* separação */
hr {
  margin: 80px 0;
  margin-top: 8rem;
}

/* fale conosco */
.section-contato{
  padding-top: 12rem;
}

.container-contato{
  font-family: "Raleway Bold", Arial;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#contato-img{
  width: 700px;
}

.enviar-button{
  font-family: "Raleway Bold", Arial;
  border-radius: 12px;
  width: 246px;
  height: 73px;
  background: #6f4a9f;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
  color: #fafad2;
  font-size: 24px;
  border: none;
}

.form-contato{
  align-items: center;
  font-family: "Raleway Bold", Arial;
  display: flex;
  flex-direction: column;
  width: 850px;
  height: 730px;

  background: #FFFFFF;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}

#formulario{
  display: flex;
  margin-top: 40px;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 30px;
}

.input-contato{
  font-family: "Raleway Bold", Arial;
  background-color: #F5F5F5;
  border: none;
  height: 57px;
  width: 780px;
  border-radius: 30px;
  font-size: 24px;
  padding-left: 20px;
}

.input-contato-mensagem{
  font-family: "Raleway Bold", Arial;
  background-color: #F5F5F5;
  border: none;
  height: 216px;
  width: 780px;
  border-radius: 30px;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 10px;
  resize: none;
}

*::placeholder {
  /* modern browser */
  color: #abadaf;
  opacity: 1;
}


/* FOOTER */
.container-footer{
  font-family: "Raleway Bold", Arial;
  display: flex;
  justify-content: space-evenly;
  height: 220px;
  background-color: #1189a1;
  margin-top: 50px;
}

.footer-logo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 220px;
}

.container-footer img{
  max-height: 70px;
}

#copyright{
  font-family: "Raleway Bold", Arial;
  color: #FAFAD2;
  font-size: 18px;
  margin-top: 12px;
}

.footer-menu{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 490px;
}

.footer-links{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 32px;
  margin-right: 32px;
  height: 100px;
}

.footer-links h4{
  color: #FAFAD2;
}

.footer-list{
  text-align: left;
}

.footer-list-item{
  font-family: "Raleway Medium";
  list-style: none;
  margin-top: 10px;
  color: #FAFAD2;
  font-size: 13px;
}

.footer-list-item a{
  font-family: "Raleway Medium";
  color: #FAFAD2;
  font-size: 13px;
  text-decoration: none;
}

.footer-social{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
}

.footer-social h4{
  text-align: center;
  color: #FAFAD2;
}

.footer-social p{
  font-family: 'Raleway Medium';
  text-align: center;
  color: #FAFAD2;
  font-size: 15px;
  margin-bottom: 5px;
}

.footer-icons{
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  gap: 20px;
}

.footer-icons a{
  color: #FAFAD2;
  text-decoration: none;
}

.footer-icons a:hover{
  color: #6f4a9f;
}





